* {
  margin: 0;
}

body, html, .container {
  height: 100%;
}

body {
  background-color: black;
}

#screen {
  aspect-ratio: 2;
  image-rendering: pixelated;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
